html,body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.heading{
    width: fit-content ; 
    display: flex;   
    margin-left: 45%;
    background-color: rgba(214, 209, 202, 0.575);
    padding: 2rem 3rem;
    border-radius: 2rem;
    text-decoration: underline;
}
#board{
    width: 375px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin-left: 65%; */
    background-color: rgba(214, 209, 202, 0.575);
    padding: 2rem;
}
.tile{
    height: 60px;
    width: 60px;
    /* margin: 2.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: xx-large;
    font-weight: 700;
}
.keyboard-row{
    /* position: relative; */
    /* bottom: 60%; */
    /* right: 10%; */
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.key-tile:hover, .Enter-key-tile:hover{
    transform: scale(1.5);
    animation-duration: 100ms;
}
.key-tile{
    cursor: pointer ;
    width: 36px;
    height: 40px;
    display: flex;
    margin: 1px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.Enter-key-tile{
    cursor: pointer;
    width: 76px;
    height: 40px;
    display: flex;
    margin: 1px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.correct{
    background-color: rgb(120, 215, 120);
    border-color: white;
    color: white;
}
.present{
    background-color: rgb(138, 138, 14);
    color: white;
    border-color: white;
}
.absent{
    background-color: grey;
    color: white;
    border-color: white;
}

.body2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 18rem;
    padding-right: 18rem;
}
#type{
    margin-top: 5rem;
    background-color: #d6d1ca93;
    height: fit-content;
    padding: 2rem;
}
.output{
    max-width: 400px;
    min-width: 400px;
    width: 400px;
    max-height: 150px;
    min-height: 150px;
    height: fit-content;
    border: 1px solid #1d171093;
    border-radius: 3rem;
    position: fixed;
    left: 20%;
    bottom: 15%;
    background-color: #d6d1ca93;
    width: fit-content;
    padding: 1rem 2rem;
    box-sizing: border-box;
}
.buttonContainer{
    background-color: rgba(214, 209, 202, 0.575);
    border-radius: 2rem;
    /* width: fit-content; */
    width: max-content;
    padding: 2rem 3rem;
    position: relative;
    left: 80%;
    bottom: 88%;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
}
.buttons{
    border: none;
    height: 2rem;
    background-color: rgb(228, 228, 208) ;
    padding: 1rem;
    display:flex; 
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 700;
}